/* General Settings */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #90ee90;
  overflow-x: hidden;
}

/* Canvas */
canvas {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Snap Scroll Container */
.snap-container {
  scroll-snap-type: y mandatory; /* Mantiene el desplazamiento ajustado */
  overflow-y: scroll; /* Permite el desplazamiento vertical */
  height: 100vh; /* Asegura que ocupe la altura completa de la ventana */
  scroll-behavior: smooth; /* Desplazamiento suave */
}

.snap-container::-webkit-scrollbar {
  width: 12px;
}

.snap-container::-webkit-scrollbar-thumb {
  background-color: #32cd32;
  border-radius: 10px;
  border: 2px solid #1c1c1c;
}

.snap-container::-webkit-scrollbar-track {
  background-color: #1c1c1c;
}

/* Secciones con Snap */
section {
  scroll-snap-align: start;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

/* Hero Section */
.hero-section {
  text-align: center;
  padding: 20px;
}

.hero-text h1 {
  font-size: 3.5rem;
  color: #00ff00;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.hero-text p {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #6aec86;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.hero-image img {
  max-width: 90%;
  border-radius: 10%;
  box-shadow: 0px 8px 20px rgba(0, 255, 13, 0.3);
}

/* About Me Section */
#about .card {
  min-height: 280px;
  background-color: #1c1c1c;
  border: 1px solid #32cd32;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about .icon {
  font-size: 3rem;
  color: #32cd32;
}

#about .card h3 {
  color: #32cd32;
  font-size: 1.5rem;
}

#about .card p {
  color: #90ee90;
  font-size: 1rem;
  text-align: center;
}

/* Projects Section */
#projects .card {
  min-height: 400px;
  background-color: #1c1c1c;
  border: 1px solid #32cd32;
}

#projects .card img {
  max-height: 200px;
  object-fit: cover;
}

#projects .card h3 {
  color: #32cd32;
  font-size: 1.5rem;
  margin-top: 10px;
}

#projects .card p {
  color: #90ee90;
  font-size: 1.1rem;
}

#projects .card i {
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out;
}

#projects .card i:hover {
  transform: scale(1.2);
}

/* Skills Section */
#skills .card {
  min-height: 450px;
  background-color: #1c1c1c;
  border: 1px solid #32cd32;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#skills .card .d-flex div {
  text-align: center;
  width: 80px;
  margin-bottom: 15px;
}

#skills .card .d-flex {
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#skills .soft-skills-list li {
  margin-bottom: 20px;
}

/* Contact Section */
.contact-card {
  min-height: 250px;
  background-color: #1c1c1c;
  border: 1px solid #32cd32;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.contact-card:hover {
  transform: scale(1.05);
}

.contact-card i {
  margin-bottom: 15px;
}

.contact-card a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Botones */
button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #32cd32;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #28a745;
  color: #fff;
}

/* Estilo de la flecha hacia abajo */
.arrow-down {
  position: fixed;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.arrow-down i {
  font-size: 20px;
  color: #32cd32;
}

.arrow-down:hover {
  transform: translateX(50%) scale(1.1);
  background: rgba(255, 255, 255, 1);
}

/* Icono de inicio */
.home-icon {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
  width: 40px; /* Ajusta el tamaño */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background 0.3s;
}

.home-icon i {
  font-size: 20px;
  color: #32cd32;
  transition: color 0.3s ease-in-out;
}

.home-icon:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 1);
}

.home-icon i:hover {
  color: #007bff; /* Cambia temporalmente el color del ícono */
}

/* Hover interactivo para íconos */
.card i:hover {
  transform: scale(1.2);
}

/* Media Queries */
@media (max-width: 768px) {
  h1,
  h2,
  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .hero-image img {
    max-width: 80%;
  }

  #projects .card {
    min-height: 350px;
  }

  #skills .card {
    min-height: 400px;
  }

  .contact-card {
    min-height: 200px;
  }
}
